
.error-wrap {

  h1{
    font-size: 16em;
    margin: .2em .5em;
    color: rgba(255,255,255, 0.7);
    margin-bottom:0px;
  }
  h2{
    font-size: 1.7em;
    margin: .2em .5em;
    color: rgba(255,255,255, 0.6);
  }
  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 3em;
      margin: .1em .3em;
    }
    h2 {
      font-size: 1em;
      margin: .1em .3em;
    }
  }
  .error{
    margin-top:20%;
    width:100%;
    text-align:center;
  }
}
